<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Media.SmoothStreaming" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.837.146" newVersion="1.1.837.146" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Phone.Controls.Toolkit" publicKeyToken="b772ad94eb9ca604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>